{% extends "base.html" %} {% block title %}About{% endblock %}

{% block content %}
<div class="about">
    <header class="member1"><h1><strong> About our team</strong></h1></header>
    <div class="person1">
        <artilce>
            <header>
                <img src="static/img/nb2.jpg" alt="Jibril" title="Jibril Isah" />
                <h3>Frontend Devoloper</h3>
                <a class='link' href="https://www.linkedin.com/in/jibril-isah-65b67489">Linkedin</a>
                <a class='link' href="https://github.com/Nbee2">Github</a>
                <a class='link' href="https://twitter.com/NBEE2">Twitter</a>
            </header>
        </artilce><br>
    <div class="person2">
        <article>
        <header>
            <img src="static/img/MU.jpg" alt="Marta" title="Martha Ukpong"/>
            <h3>Frontend Devoloper</h3>
            <a class='link' href="https://www.linkedin.com/in/martha-ukpong-va">Linkedin</a>
            <a class='link' href="https://github.com/marista032">Github</a>
            <a class='link' href="#">Twitter</a>
        </header>
        </article><br>
    <div class="person3">
        <artilce>
        <header>
            <img src="#" title="Fadekemi Iruegbukpe"/>
            <h3>Frontend Devoloper</h3>
            <a class='link' href="#">Linkedin</a>
            <a class='link' href="#">Github</a>
            <a class='link' href="#">Twitter</a>
        </header>
        </artilce>  
</div>
<br>
        <div><a href="https://github.com/Nbee2/Click_Clock_App.git"><h3>Project's repo: https://github.com/Nbee2/Click_Clock_App.git</h3></div></a>


{% endblock %}