{% extends "base.html" %} {% block title %}About{% endblock %}

{% block content %}
<div class="about">
    <header class="member1"><h1><strong> About our team</strong></h1></header>
    <div class="person1">
        <artilce>
            <header>
                <img src="#" title="Jibril Isah"/>
                <h3>Backend Devoloper</h3>
            </header>
            <ul>
                <li><a href="https://www.linkedin.com/in/jibril-isah-65b67489">https://www.linkedin.com/in/jibril-isah-65b67489</a></li>
                <li><a href="https://github.com/Nbee2">https://github.com/Nbee2</a></li>
                <li><a href="https://twitter.com/NBEE2">https://twitter.com/NBEE2</a></li>
            </ul>
        </artilce>
    <div class="person2">
        <article>
        <header>
            <img src="#" title="Martha Ukpong"/>
            <h3>Backend Devoloper</h3>
        </header>
            <ul>
                <li><a href="#">Read more</a></li>
                <li><a href="#">Read more</a></li>
                <li><a href="#">Read more</a></li>
            </ul>
        </article>
    <div class="person3">
        <artilce>
        <header>
            <img src="#" title="Fadekemi Iruegbukpe"/>
            <h3>Backend Devoloper</h3>
        </header>
            <ul>
                <li><a href="#">Read more</a></li>
                <li><a href="#">Read more</a></li>
                <li><a href="#">Read more</a></li>
            </ul>
        </artilce>  
</div>
<br>
        <div><a href="https://github.com/Nbee2/Click_Clock_App.git"><h3>Project's repo: https://github.com/Nbee2/Click_Clock_App.git</h3></div></a>


{% endblock %}