<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <title>{% block title %}click_clock{% endblock %}</title>
      <link rel="stylesheet" href='/static/main.css' />
    </head>
    <body>
        <section>
            <div class="container">
                <strong><nav>
                    <h1><b>click_clock</b></h1>
                    <ul>
                        <li><a class="active" id="home" href="/">Home</a></li>
                        <li><a class="#" id="blog" href="/blog">What's New</a></li>
                        <li><a class="#" id="about" href="/about">About</a></li>
                        <li><a class="#" id="portfolio" href="/portfolio">Portfolio</a></li>
                        <li><a class="#" id="dashboard" href="/dashboard">Dashboard</a></li>
                        <li><a class="#" id="signin" href="/login">Student Sign in</a></li>
                        <li><a class="#" id="signin" href="/login">Teahcer Sign in</a></li>  
                    </ul>
                </nav><strong>
                <div class="article">
                    <header><h1>Project Description</h1></hearder>
                        <p>This portfolio project is a web-based student attendance application that will aid educational institutions in optimizing their attendance tracking process, minimizing administrative burdens.</p>
                    <a href="/signup" class="btn">Register here</a>
                </div>
            </div>
        </section>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class"close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class"close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container">{% block content %} {% endblock %}</div>
        
        
        <script src="script.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>