{% extends "base.html" %} 
{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <strong><nav>
        <h2><b>click_clock</b></h2>
    </strong></nav>

</div>
<div class="wrapper">
    <span class="icon-close"><ion-icon name="close-circle"></ion-icon></span>
    <div class="form-box login">
        <h2>Login</h2>
        <form method="POST" action="#">
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input type="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Remember me?</label>
                <a href="/login/forget-password">Forget Password</a>
            </div>
            <button type="submit" class="btn">Continue</button>
            <div class="login-register">
            <p>Don't have an account?<a href="/signup" class="register-link">Register</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}